<% include partials/header %>
    <br>
    <br>
    <div class="container">
        
        <div class="jumbotron">
            
        <h1>Welcome Page</h1>
        <img class="thumbnail img-responsive"src="https://d3aabu2g11szxh.cloudfront.net/uploads/bameslog-25561cc24f1492972969456.png"
        width="300">
        <h4>Please login to continue..</h4>
        
        </div>
        
        
        
    </div>

<% include partials/footer %>
